{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Climbing{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="divtextbox" id="div1">

  <h1>EMC climbing FAQ</h1>

  <h2>What sort of climbing does the EMC do?</h2>

  <p>
    Weather and venue permitting, our members climb in summer and winter at the regular weekend meets.  
    We have a weekly climbing night on Wednesdays, which is indoors
    (usually <a href="http://www.alienrock.co.uk/">Alien Rock</a>) in autumn/winter, and weather permitting at local crags in summer.
  </p>
  <p>
    View some <a href="../emc/meetreport278">photos</a> of the EMC Alien Rock regulars in action as well as
    some <a href="../emc/meetreport272">photos</a> of EMC members climbing outdoors at local crags and around
    Scotland.
  </p>
  
  <h2>Who climbs in the EMC?</h2>

  <p>
    We generally attract experienced climbers who want to meet new climbing partners, 
    hill walkers who are keen on scrambling and want to try climbing and winter mountaineers who are keen to try some graded winter climbs.
  </p>
  
  <h2>Do I need much experience?</h2>


  <p>No, but...</p>

  <p>
For rock climbing, we <em>do not teach </em>people to climb and the climbing group is <em>not</em> aimed at beginners.  You need to be able to belay safely as an absolute minimum so if you can't do this we recommend you go on one of the introductory sessions at either <a href="http://www.alienrock.co.uk/">Alien Rock</a> or the <a href="https://www.edinburghleisure.co.uk/venues/edinburgh-international-climbing-arena">EICA at Ratho</a>.
  </p>

  <p>
    Potential new members who do have experience are welcome to come along on Wednesday nights, after getting in touch with us to register interest and outline your
    experience. Please email 
    <script language="JavaScript"> document.write('<a href="mailto:climbing' + '@' + 'edinburghmc.org.uk">' + 'climbing' + '@' + 'edinburghmc.org.uk</a>'); 
    </script> 
for details of the venue and timing, and to get added to the WhatsApp group (optional, but some members find it convenient for short-notice planning). We try to ensure that everyone has someone to climb with and we will encourage and help as best we can. Please note that everyone climbs at their own risk
and is responsible for themselves.

</p>
<p>

If you have some experience of climbing on indoor walls, then joining a club and meeting experienced outdoor climbers is a good way of moving from indoor walls to outdoor climbing. However, if you do not have experience outside (seconding trad routes as a minimum) we require you to have climbed indoors with us first.
  </p>

  <p>
For winter climbing you need to have good all round winter mountaineering skills. Again, we do not formally teach people but many club members who are keen winter mountaineers have done their first grade 1 gullies on club meets and progressed to harder climbs.
  </p>

  <div class="divphotobox">
    <table class="tight" style="width:400px" border="0" cellspacing="0" cellpadding="0">
      <tr>
	<td class="staticslide">
          <img src="../img/image641medium.jpg" alt="Sport climbing in France">
	</td>
      </tr>
      <tr>
	<td class="staticslidecaption">
          Sport climbing in France
	</td>
      </tr>
    </table>
  </div>

  <h2>When do you meet?</h2>

  <p>
    For rock climbing, during the autumn/winter we usually meet on Wednesday evenings at
    <a href="http://www.alienrock.co.uk/">Alien Rock</a>
    from about 7:00pm onwards.
    In the summer months we head outdoors (weather permitting!) to climb at the local crags, usually Traprain, Rosyth, Limekilns, or Aberdour. We may also have informal cragging sessions at the weekends, and several members go to informal bouldering sessions at
    Alien Bloc on Mondays (not official club meets). Again, the WhatsApp group chat is typically used to coordinate all things
    climbing related.
  </p>

  <p>

    If you're not a member of the EMC, you can come along to 2 Wednesday meets (or 2
    weekend meets, or a weekend and a Wednesday meet). You will then need to become a
    member of the EMC if you would like to join further EMC activities.
    
    </p>
    <p>
    
    Ad-hoc weekend cragging sessions outwith meets and Monday bouldering at
    Bloc are not formal club activities and therefore fall outside of the 2 meet rule.


  </p>

  <h2>What equipment do I need?</h2>
  
  <p>
    At the indoor walls you can hire all the equipment you need. For outdoor rock climbing you'll need rock boots and a harness as a minimum (and having your own belay device would be helpful). We would also strongly recommend a helmet. A chalk bag is worth having.  Most of the regulars have a full rack of gear so if you turn up without anything else you should be able to climb with one of them (maybe as a threesome). 
  </p>

  <p>
    In winter you will need crampons, ice axe, and appropriate winter boots. For anything more technical than a grade 1 gully, you will need, two ice axes and a helmet. Club members will always be happy to make suggestions and recommendations about climbing gear.  Club members may also be happy to lend some gear on meets to get you started especially those who have extensive collections of ice axes!
  </p>
  
  <h2>What if you change your plans about where to meet?</h2>

  <p>
    Going outside on Wednesdays in summer there is usually an evolving 'plan'.  We may also arrange to go climbing on a different night if the weather looks better. We typically use the
WhatsApp group to sort out lifts and make sure the sun is still shining. Sometimes plans do change late in the day and we may have to divert indoors to Alien or Ratho at short notice.
  </p>

  <div class="divphotobox">
    <table class="tight" style="width:400px" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="staticslide">
          <img src="../img/image748medium.jpg" alt="Scottish winter climbing">
        </td>
      </tr>
      <tr>
        <td class="staticslidecaption">
          Scottish winter climbing
        </td>
      </tr>
    </table>
  </div>

  <h2>How do I get to the local crags?</h2>

  <p>
    Look at the <a href="http://www.edinburghjmcs.org.uk/crag-directions/index.html">directions</a> to the local crags.
  </p>

  <h2>What grades do people climb?</h2>

  <p>
    Indoors, the group typically climbs grades 6a to 7a. If you've never climbed outside just ignore the next bit.
    The crags we usually climb at have grades ranging from Diff to HVS with one or two E1s. Most of the regular climbers climb up to VS/HVS.
    In winter, grade III/IV routes are frequently done although some members are progressing to harder grades (conditions permitting).
  </p>

  <h2>How do I get involved?</h2>

  <p>
    Contact
    <script language="JavaScript">
      document.write('<a href="mailto:climbing' + '@' + 'edinburghmc.org.uk">' + 'climbing' + '@' + 'edinburghmc.org.uk</a>'); 
    </script> for more information and to get put on the climbing email list.
  <p>
    
  <p>
    If you haven't read it already, see also the <a href="index#faq-new">New Members FAQ</a> and the <a href="contacts">contacts page</a>.
  </p>
</div>

{% endblock %}