{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}History of the EMC{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="divtextbox" id="div1">

  <h1>EMC History</h1>

  <h2>Introduction</h2>
  <p>
    A very brief history of the EMC is given below. The text has largely been extracted from the Mountaineering Council of Scotland, Scottish Mountaineer Magazine, Club Spot article published in February 2015. The full article can be downloaded <a href="../clubspot.pdf">here</a>. 
  </p>

  <p>
    Some photos from the EMC in the pre-digital era can be found <a href="../emc/meetreport273">here</a>.
  </p>

  <h2>The Early Years</h2>
  <p>
    Edinburgh Mountaineering Club was established in the early 1950s, with founding members including James (Jimmy) Thin, great-grandson of the founder of James Thin Bookshops, a central feature of Edinburgh life for many years until 2002. Jimmy Thin was at the centre of this business for over four decades and was described as a "bustling and athletic figure" and "man of letters, mountaineer and descendant of the Edinburgh Enlightenment". A champion of wilderness, he had bagged every Munro apart from one which he was saving for his 80th birthday. 
  </p>

  <p>
    Other former members are believed to include Bill Wallace, who became a very prominent member of the Scottish Mountaineering Club and was its Secretary for many years, Wally Mykura the noted geologist, Margaret Roberts, also a member of the Ladies Scottish Climbing Club, and Myrtle Simpson.
  </p>   

  <p>
    Without car ownership, the 1950s and '60s were the era of the bus meet. Trips went to places relatively near to Edinburgh such as Arrochar and Pitlochry, but also Glencoe and Glenshee. However, bus meets began to wane as more private transport became available. 
  </p>

  <h2>The 1970's</h2>
  <p>
    By the early 1970s, membership of the EMC was quite low, with a transition between the original founder members and newer members. Most of the older group dropped away at this time and, typically, meets only had around a dozen people. The main character from that time was John Winham, who died in 1996, a veteran of the British Antarctic Survey who seemed immune to cold. This was also the era when the current longest standing members (of nearly 40 years!) John Watson and Kenny Robb joined the club. John holds the record as longest continuous member, with Kenny due to take over if John ever stops paying his membership fee. Kenny is, however, the most active EMC member ever, rarely missing a meet over his 39 years in the club and earning the nickname 'Keeny'. There can be few people in Scotland who have such a depth of knowledge of the hills, including an encyclopaedic knowledge of most of the very best wild camping spots and an eye for a scrambling line. 
  </p>

  <h2>Club Hut</h2>
  <p>
    The EMC also acquired its own hut in Glen Lochay. Batavaime was used by informal agreement with the landowner, John Cameron. The club had free use of the hut on condition we kept the building in good condition. After rehabilitation by the club, the hut had gas lighting and cooking and, for a time, piped running water. There was a chemical toilet in the attached byre. For a time Batavaime operated as a conventional club hut, available for rent to other clubs, but over time usage declined and around 2001 the club voted to give up 'tenancy' of the hut.
  </p> 

  <p>
    Existing occupancy rights were transferred to a new group: the Batavaime Users Group (BUG). The hut continued in use until 2006 when John Cameron decided to retire and sell off his estates, at which point BUG was given notice plus monetary compensation for work done on the hut. 
  </p> 

  <h2>Changes in the 1990's</h2>
  <p>
    Following a period of relative stability, with attendance at meets by mainly longstanding members of the club, the late 1990s brought in another phase of the EMC with an influx of younger members, several of whom are now becoming 'longstanding' members. This was mainly welcomed by existing members but inevitably it brought some tensions and challenges to the existing way of things as meets started to become more boisterous.
  </p>

  <p>
    Meets came under severe pressure at this time and the club voted at its AGM to stop advertising. But, as happens with any club, people moved on and drifted away from the EMC and the club went through another transition as existing long-standing members from the 1970s and '80s also drifted away. With no advertising, new and especially younger members were thin on the ground and often did not return after the pub night or a first meet, the club perhaps having too much of a feeling of cliques. 
  </p>

  <p>
    The decision was taken to start advertising again. However, the damage had been done and it would take time to reinvigorate the club. 
  </p> 

  <h2>The Noughties and Beyond</h2>
  <p>
    The late 'noughties' saw a further revival of the club with the re-establishment of an increasingly well-attended indoor climbing evening at Alien Rock every Wednesday and outdoor climbing in the summer evenings. The presence of several IT types meant the club was also one of the first clubs to have its own website and, now, a Facebook presence. E-mail communication was substituted the traditional list of meet attendees, scrawled on a piece of cardboard and passed round at the pub. An active and enthusiastic climbing group developed and attendance at meets started to rise again. 
  </p>

  <p>
    The return of Fiona Murray to the club from a climbing career break also helped to establish the summer and winter climbing activities. During her career break Fiona climbed some of the hardest mixed dry tooling routes in the world for a British female and featured in the Hot Aches movie All Mixed Up, climbing M10+. Fiona was an early enthusiast for dry tooling and dominated the female section of the annual Scottish Tooling Competitions for many years. In 2013-14 two female members of the club also joined the SMC, the first to do this since founder member Bill Wallace. These two pioneers have since been joined by three more members taking the number EMC members in the SMC up to five. 
    </p>

  <p>
    In recent years the club website seems to have been the main channel for people to discover the club, and anyone interested should consult the detailed information about how the club functions available <a href=../emc/index>there</a>. As meet organisers' reports are also available online, potential new members can form a good idea of what they might be getting into. 
  </p> 

  <h2>More info</h2>
  <p>
    Two further perspectives of the club written by Dennis Smith and Alison Coull can be found <a href="../ds.pdf">here</a> and <a href="../ac.pdf">here</a>. Dennis's document concentrates mostly on the 1980's whereas Alison's focuses on the 1990's, noughties and beyond. 
  </p>

</div>

{% endblock %}